.section1 {
    background-color: royalblue;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        padding-bottom: 20px;
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }
}