

nav {
    background-color: rgb(49, 46, 46);
    input {
        display: none;
      }
    .navv1 {
        display: none;
        
      }
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        height: 100vh;
        left: 100%;
        padding-top: 30px;
        padding-inline: 50px;
        background-color: rgb(213, 213, 213);
        width: 100vw;
        transition: all 1s;
        .sidebar-top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 10px;
            align-items: center;
            margin-bottom: 30px;
          }
    }

    .container{
        background-color: rgb(49, 46, 46);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    
        ul {
            list-style-type: none;
            display: flex;
            gap: 20px;
            align-items: center;
    
            a {
                text-decoration: none;
                color: white;
            }
        

    }
  }
}
@media (max-width:900px) {
    .navv1 {
      display: inline;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
    }
   a{
    display: none;
   }
   input:checked + .sidebar {
    left: 0;
  }
   input{
    display: block;
  }
}